/* Resets - Personal Preference */

/* Standard Dark Blue Color - #0e1729 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
font-family: 'Montserrat', sans-serif;
font-size: 17px;
margin: 0;
padding: 0;
background: #efefef;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	margin: 30px auto;
}
h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 20px auto;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 15px auto;
}

h4 {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 10px auto;
}

h5 {
	font-size: 0.8rem;
	font-weight: bold;
	margin: 8px auto;
}

h6 {
	font-size: 0.5rem;
	font-weight: bold;
	margin: 5px auto;
}

input {
    padding:10px;
    border:0;
}

/* Header */

header.main-header {
	background-image: url('https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?auto=format&fit=crop&w=1050&q=80');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Navigation Styling */

.navbar-transparent {
	background-color: rgba(0,0,0,0.2);
}

.navbar-color {
	background-color: #0e1729;
}

.navbar-brand img{
	min-width: 200px;
	min-height: 60px;     
}

.navbar-brand a.navbar-item:hover{
    background-color: goldenrod;
}
.navbar-item, .has-dropdown, .navbar-link{
	color: whitesmoke;
}
.navbar-link::after{
	border: 1px solid whitesmoke;
	border-right: 0;
	border-top:0;
}
a.navbar-item:hover,a.navbar-link:hover {
	color: goldenrod;
}

.navbar-dropdown{
    background-color: goldenrod;
    border: none;
}

.navbar-dropdown .navbar-item{
	color: whitesmoke;
}

.navbar-dropdown a:hover{
	color: goldenrod !important;
}

.is-active{
	color: goldenrod !important;
}new

.navbar-menu.is-active{
    background: goldenrod !important;
    font-size: 1.5rem;
}

.navbar-burger:hover, .navbar-burger:active{
    background-color: goldenrod;
}

/* Main Content */

section {
  text-align: center;
  padding:20px;
  margin:20px 0;
  font-weight: 100;
}

div.jumbo{
	flex:1;
	margin: 100px auto;
	padding-top: 10vh;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.jumbo h1{
	font-size: 3rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: none; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 2.5% auto;
	padding: 0; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 2px;
	animation: 
    typing 2.5s steps(40, end);
    /* ,blink-caret .75s step-end infinite; */
}

div.jumbo h2{
	font-size: 2.5rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

div.jumbo h3{
	font-size: 2rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: none; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 2.5% auto; /* Gives that scrolling effect as the typing happens */
	animation: 
    typing 4s steps(40, end);
}

div.jumbo p{
	font-size: 1.2rem;
}

div.jumbo .form-box{
	padding: 20px;
	width: 50%;
	margin: 5% auto;
	background-color: rgba(0,0,0,0.3)
}

.form-box p{
	margin: 20px auto;
}

.main-content{
	min-height: 100vh;
	margin: 5% auto;
	text-align: center;
	color: #040450;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6{
    color: #040450;
}

.sectionTitle{
	font-size: 2rem;
	margin-bottom: 2.5%;
}

#solutionsSection .solutions{
	display: flex;
}

.solutions .solution {
	flex:1;
	padding: 20px;
	margin: 20px;
}

.solution h3{
	margin: 30px auto;
	padding-bottom: 10px;
	width: 90%;
	border-bottom: 2px solid #dddddd;
}

.solution ul{
	margin: 30px auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.solution button{
	margin: 30px auto;
}

.shadow {
	-webkit-box-shadow: 5px 5px 0px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    5px 5px 0px 0px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         5px 5px 0px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

.solution span {
	display: block;
	font-size: 8rem;
	margin: 30px auto;
}

.solution p {
	text-align: justify;
}

.portfolioCategory{
	padding: 5%;
	cursor: pointer;
}

.portfolioCategory h3{
	font-size: 1.5rem;
}

.portfolioHover {
	background: #0e1729;
	color: #efefef;
}

.portfolioHover h3 {
	color: #efefef;
}

.recentWorks{
		margin-top: 100px;
		font-size: 1.8rem;
		font-weight: normal;
}

.visit-portfolio{
	margin: 50px auto;
}

.portfolioIcons {
	display: flex;
	
}

.pCatIcon:hover{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	animation-iteration-count: infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.pCatTitle{
	font-weight: normal;
	text-transform: uppercase;
	word-spacing: 3px;
}

.portfolioCategory{
	flex:1;
}


/* Portfolio flex-panels */

.flex-panels {
	min-height:50vh;
	overflow: hidden;
	display: flex;
  }

  .flex-panel {
	background:#6B0F9C;
	box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
	color:white;
	text-align: center;
	align-items:center;
	/* Safari transitionend event.propertyName === flex */
	/* Chrome + FF transitionend event.propertyName === flex-grow */
	transition:
	  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
	  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
	  background 0.2s;
	font-size: 20px;
	background-size:cover;
	background-position:center;
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
  }


  .flex-panel1 { background-image:url(../images/portfolio-flex-gallery/Web-Front.png); }
  .flex-panel2 { background-image:url(../images/portfolio-flex-gallery/App-Front.png); }
  .flex-panel3 { background-image:url(../images/portfolio-flex-gallery/Design-Front.png); }
  .flex-panel4 { background-image:url(../images/portfolio-flex-gallery/Digital-Front.png); }
  .flex-panel5 { background-image:url(../images/portfolio-flex-gallery/Corporate-Front.png); }

  /* Flex Items */
  .flex-panel > * {
	margin:0;
	width: 100%;
	transition:transform 0.5s;
	flex: 1 0 auto;
	display:flex;
	justify-content: center;
	align-items: center;
  }

  .flex-panel > * { 
	  display: none; 
	  -webkit-transition: all 5s ease;
	  -moz-transition: all 5s ease;
	  -o-transition: all 5s ease;
	  transition: all 5s ease;
	}
  .flex-panel.open-active > * { 
	  display: flex;
	  -webkit-transition: all 5s ease;
	  -moz-transition: all 5s ease;
	  -o-transition: all 5s ease;
	  transition: all 5s ease;
	
	}

  .flex-panel p {
	position: relative;
	text-transform: uppercase;
	text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
	font-size: 2em;
  }

  .flex-panel.open {
	flex: 5;
	font-size:1rem;
	display: flex;
  }

  .openChild{
	  background: rgba(0, 0, 0, 0.72);
  }

.flex-panel.blur-bg {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: -1; 
}

/* Client Section */

#clientSection{
	padding: 0;
	margin: 5% auto;
}

.ticker-wrap{
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;	
	overflow: hidden;
	background-color: rgba(#000, 0.9);
}

.ticker {
	width: 100%;
	overflow: hidden;	
	flex: 1;
	display: flex;

	-webkit-animation-iteration-count: infinite; 
			animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
	-webkit-animation-name: ticker;
			animation-name: ticker;
	-webkit-animation-duration: 30s;
			animation-duration: 30s; 
}

.ticker-item{
	overflow: hidden;
	flex:1;
	padding: 0 2rem;
    }
    
	
footer{
    background: #0e1729;
    padding: 30px;
}

nav.flex-footer{
    display: flex;
    margin: 5%;
    justify-content: center;
}

footer .footer-logo {
    margin: 5% auto;
}

footer .footer-logo img {
    display: block;
    margin: 0 auto;
}

footer .footer-section{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 3.5%;
}

.footer-section h3{
    text-align: left;
}

.footer-section ul {
    list-style: none;
    background: none;
    padding: 0;
    margin:0;
}

.footer-section ul li{
    padding: 0;
    margin:0;
}

footer a {
		background: none;
		font-size: 1rem;
		padding: 0;
		margin:0;
		color: whitesmoke;
	}
footer a:hover{
	color: goldenrod;
}

footer .copyright{
		margin: 2.5% auto;
		text-align: center;
		font-size: 1.2rem;
		color: whitesmoke;
}

@media all and (max-width:968px) {

    div.jumbo h1, div.jumbo h2, div.jumbo h3{
        animation: none;
        white-space: normal;
    }

	.main-content .solutions{
		flex-direction: column;
	}

	.main-content .solution{
		flex: 1;
	}

	.jumbo h1, .jumbo h3{
		animation: none;
		white-space: initial;
	}

	.jumbo .ui.inverted.segment{
		padding: 10px;
		width: 90%;
		margin: 20px auto;
	}

	.jumbo .ui.large.input.focus{
		margin: 10px;
	}

	.portfolioIcons{
		flex-wrap: wrap;
	}

	.portfolioCategory{
		flex:1 1 50%;
		padding: 5%;
	}

	.flex-panel.open {
		flex: 3;
		font-size:0.8rem;
	  }


}


@media all and (max-width:500px) {

	.main-content .solutions{
		flex-direction: column;
	}

	.main-content .solution{
		flex: 1;
    }

	div.jumbo h1{
		font-size: 2.5rem;
	}
	
	div.jumbo h2{
		font-size: 2rem;
	}
	
	div.jumbo h3{
		font-size: 1.5rem;
	}

	.jumbo .ui.inverted.segment{
		padding: 10px;
		width: 90%;
		margin: 20px auto;
	}

	.jumbo .ui.large.input.focus{
		margin: 10px;
	}

	.portfolioIcons{
		flex-wrap: wrap;
	}

	.portfolioCategory{
		flex:1 1 100%;
		margin: 1.5% auto;
	}

	.flex-panel.open {
		flex: 2;
		font-size:0.6rem;
		}
		
    footer .flex-footer{
        flex-direction: column;
    }
}

/* Animations */

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

/* Shake effect for Portfolio Icons */
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

  /* Client Ticker Animation */

  @-webkit-keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	}
  
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
  
  @keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	}
  
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
  
  /* #particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
} */